<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaTennis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TiendaTennis.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TiendaTennis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                         
                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    <style>

        fab fa-facebook-f {
            color: white;
        }

        .ico-soc {
            width: 35px;
            margin: auto 10px;
            display: block;
            transition: .5s;
        }

            .ico-soc:hover {
                width: 45px;
                margin: auto 10px;
                display: block;
                filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
            }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->

        <div class="col-md-4 col-sm-12 logo-foother">
            <table style="text-align:center;">
                <tr>
                    <td><a href="https://www.facebook.com/synergyo2intl"> <img class="ico-soc" src="https://so2sport.com/wp-content/uploads/2021/12/fb-ico.png"></a></td>
                    <td><a href="https://www.instagram.com/synergyo2_int"> <img class="ico-soc" src="https://so2sport.com/wp-content/uploads/2021/12/inst-ico.png"></a></td>
                    <td><a href="https://www.youtube.com/SynergyO2"> <img class="ico-soc" src="https://so2sport.com/wp-content/uploads/2021/12/ytb-ico.png"></a></td>
                </tr>
            </table>
        </div>

        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Tienda Tenis:
        <a class="text-white" href="https://mdbootstrap.com/">TiendaTenis.com</a>
    </div>
    <!-- Copyright -->


</footer>
</html>
